<!--The content below is only a placeholder and can be replaced.-->


<script>
   function tokenLogin(token) {
    console.log('opa token!!!!!!!!!!!!!!', token)
  }
</script>


<div id="uLogin" data-ulogin="display=small;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,facebook;hidden=other;redirect_uri=;mobilebuttons=0; callback=tokenLogin"></div>
